.footer {
    background-color: #0E0E0E;
    color: white;
}

.footer-contato{
    padding: 20px;
}
.footer-container {
    max-width: 1200px;
padding: 120px 20px 60px 20px;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 100px;
align-items: center;
}

.footer-texto {
    font-size: 2.2rem;
    line-height: 1.35;
   margin-left: 20px; 
    max-width: 45ch;
    font-family: 'poppins';
}

.footer-container li {
    font-size: 2.2rem;
    line-height: 1.40;
    text-align: center;
    font-family: 'poppins';
    margin-bottom: 10px;
}

.footer-container a {
    color: #1C9CE4;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-copy  {
    font-size: 1.25rem;
    color: #a0a0a0;
    text-align: center;
    padding: 20px;
}

.redes ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    font-size: 2rem;
    font-family: 'poppins';
    text-align: center;
}




@media (max-width:1100px) {
    .footer-container {
        grid-template-columns: 1fr;
        padding:0px;
        gap:30px;
    }
    .footer-container li {
        font-size: 1.8rem;
    }

    .footer-texto {
        font-size: 1.8rem;
        line-height: 1.35;
        max-width: 46ch;
    justify-self: center;
        margin-top: 50px;
        text-align: center;
        margin-left: 0;
    }
    .footer-copy {
        margin-bottom: 40px;
    }
}

@media (max-width:750px) {
    .footer-container {
        grid-template-columns: 1fr;
        padding:0px;
        gap:30px;
   
    }

    .footer-texto {
        font-size: 1.6rem;
        line-height: 1.35;
        max-width: 46ch;
    justify-self: center;
        margin-top: 50px;
        text-align: center;
        margin-left: 0;
    }

    .email {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {


.email {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'poppins';
    
}

    .footer-texto {
        font-size: 1.4rem;
        text-align: start;
        margin-left: 20px;
        max-width: 39ch;
        color: aliceblue;
    }

    .footer-container {
        gap: 20px;
    }

    .footer .subtitulo {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #151515;
    text-align: center;
    font-family: 'poppins';
    margin-top: 40px;
    margin-bottom: -40px;
    }
    .footer-container li {
        font-size: 1.5rem;
    }



    
}

@media (max-width: 500px) {
    .footer-texto {
        text-align: center;
        font-size: 1.5rem;
    }


    .footer-container .email{
    font-size: 1.3rem;
}
}
