.footer {
    background-color: #0E0E0E;
    color: white;
}

.footer-container {
    max-width: 1200px;
padding: 120px 20px 60px 20px;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 100px;
align-items: center;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.35;
   margin-left: 20px; 
    max-width: 45ch;
    font-family: 'poppins';
}

.footer-container li {
    font-size: 1.5rem;
    line-height: 1.40;
    text-align: center;
    font-family: 'poppins';
    margin-bottom: 10px;
}

.footer-container a {
    color: #1C9CE4;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-copy  {
    font-size: 1.25rem;
    color: #a0a0a0;
    grid-column: 1 / -1;
    text-align: center;
}

@media (max-width:750px) {
    .footer-container {
        grid-template-columns: 1fr;
        padding:0px;
        gap:50px;
   
    }

    .footer-texto {
        font-size: 1.5rem;
        line-height: 1.35;
        max-width: 46ch;
    justify-self: center;
        margin-top: 50px;
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .footer-texto {
        text-align: start;
        margin-left: 20px;
    }

    .footer-container a {
        background: linear-gradient(#2AC2F2, #1C9CE4);
        color: #000000;
        padding: 10px 20px;
        display: inline-block;
        border-radius: 4px;
        text-transform: initial;
margin-bottom: 20px;
font-size: 1.2rem;
    }
    .footer-container {
        gap: 40px;
    }

    .footer .subtitulo {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #151515;
    text-align: center;
    font-family: 'poppins';
    margin-top: 40px;
    margin-bottom: -40px;
    }
}

@media (max-width: 500px) {
    .footer-texto {
        text-align: start;
        margin-left: 20px;
        font-size: 1.35rem;
    }


}

@media (max-width: 750px) {
.footer-copy {
    margin-bottom: 40px;
}
}